.table-container {
  overflow: auto;
}

table {
  width: 100%;
}

.income-text {
  color: #4caf50;
  font-weight: 500;
}

.expense-text {
  color: #f44336;
  font-weight: 500;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.mat-no-data-row {
  text-align: center;
  padding: 2rem;
  color: rgba(0,0,0,.54);
}
